In [2]:
import pandas as pd
import random as rand
surnames = pd.read_csv("data/engwales_surnames.csv",encoding='unicode_escape')["Name"]
# first = pd.read_csv("data/male.txt")
firstnames = open("data/male.txt").read().split()
firstnames += open("data/female.txt").read().split()
firstnames
def build_names(first:list,last:list,n):
    lst = []
    for _ in range(n):
        f_int = rand.randrange(len(first))
        l_int = rand.randrange(len(last))
        lst.append((first[f_int],last[l_int]))
    return lst

def build_ids(names):
    emails = []
    for i in range(len(names)):
        flag = 0
        first,last = names[i]
        iterator = 1
        while flag == 0:
            email = f"{first[0]}{last}{iterator}".lower().replace(" ","")
            if email in emails:
                iterator +=1
            else:
                emails.append(email)
                break
    return emails
emails = []

def mainbuild(n=0):
    namelist = build_names(firstnames,surnames,n)
    ids = build_ids(namelist)
    first = [name[0] for name in namelist]
    last = [name[1] for name in namelist]
    endings = ["@gmail.com","@nutsack.org","@hotmail.com",
    "@gmail.com",
    "@yahoo.com",
    "@outlook.com",
    "@mail.com",
    "@icloud.com",
    "@aol.com",
    "@protonmail.com"]

    emails = [id + endings[rand.randint(0,len(endings)-1)] for id in ids]
    return pd.DataFrame({"First":first,
                         "Last":last,
                         "ID":ids,
                         "Emails":emails})
mainbuild(100)

       First      Last          ID                     Emails
0      Roice   Robison   rrobison1          rrobison1@aol.com
1       Vita  Chessell  vchessell1       vchessell1@gmail.com
2   Stephine     Pring     spring1        spring1@nutsack.org
3   Rochella    Eckels    reckels1         reckels1@gmail.com
4     Gratia  McWiggin  gmcwiggin1       gmcwiggin1@yahoo.com
..       ...       ...         ...                        ...
95     Yetta  Brackell  ybrackell1  ybrackell1@protonmail.com
96    Georgy   Baigent   gbaigent1   gbaigent1@protonmail.com
97      Jack   Hogarth   jhogarth1        jhogarth1@gmail.com
98    Canada    Terson    cterson1         cterson1@yahoo.com
99     Jonas    Spokes    jspokes1         jspokes1@gmail.com

[100 rows x 4 columns]

In [164]:
books = pd.read_csv("data/books.csv")
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [168]:

for _,row in books.head().iterrows():
    Count1 = row["ratings_1"]
    Count2 = row["ratings_2"]
    Count3 = row["ratings_3"]
    Count4 = row["ratings_4"]
    Count5 = row["ratings_5"]
    total = row["ratings_count"]
    SumWeightedRatings = (1 * Count1) + (2 * Count2) + (3 * Count3) + (4 * Count4) + (5 * Count5)
    print(round(SumWeightedRatings/total,2))

4.49
4.63
3.62
4.44
4.02